html {
    scroll-behavior: smooth;
}

body {
    background-color: #ddd;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: transparent;
    font-size: 30px;
    line-height: 1;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}

.icon {
    width: 80px;
    height: 80px;
    border: 2px;
    padding: 3px / 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: block;
}

.active {
    background-color: aquamarine;
}

nav li {
    display:inline;
    padding-right: 20px;
}

nav a {
    color: black;
    font-weight: bold;
}
  
nav a:hover {
    background-color: darkorange;
}

nav {
    background-color: #ddd;
    padding: 50px 0;
    text-align: center;
}

.intro-text {
    padding: 40px;
    text-align: center;
}

.product-gallery {
    padding: 40px;
}

.contact-text {
    padding: 40px;
}

.gallery-img {
    width: 150px;
    height: 150px;
    /* border: 2px dotted aquamarine; */
    margin: 10px 10px 10px 10px;
    padding: 3px / 5px;
}

.gallery-img:hover {
    box-shadow: 3px 3px 3px 3px dotted aquamarine;
}

h2 {
    font-size: 20px;
    text-align: left;
}

footer {
    text-align: center;
    font-size: 20px;
    padding: 40px;
}

.contact-image {
    width: 70px;
    border: 30px;
    margin: auto;
    height: 70px;
    padding: 20px;
    display: inline;
    justify-content: center;
}

.product-explain {
    padding: 10px;
    text-align: left;
}

.product-explain-img {
    width: 100%;
    border: 30px;
    margin: auto;
    display: block;
    padding: 20px;
}
